<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Geek - Login</title>
    <link rel="stylesheet" href="../src/assets/css/reset.css">
    <link rel="stylesheet" href="../src/assets/css/produtos.css">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav__container">
                <a href="../index.html" class="nav__container__logo">
                    <img src="../src/assets/img/logo-img.png" alt="">
                    <p class="nav__container__logo__text"><span class="nav__container__logo__text__blue">Alura</span>Geek</p>
                </a>
                <section class="nav__container__search-box" id="search-box">
                    <input class="nav__container__search-box__input" id="input-search-bar" type="text" placeholder="O que deseja encontrar?">
                    <button id="button-search" class="nav__container__search-box__button"><img class="nav__container__search-box__img" id="img-search" src="../src/assets/img/search-icon.png" alt="pesquisar"></button>
                </section>
                <button class="nav__container__login-button" id="login-button">
                    <p id="login-button">Ir para home</p>
                </button>
            </div>
        </nav>
    </header>
    <main>
        <section class="produtos">
            <div class="produtos__header">
                <h1 class="produtos__header__title">Todos os produtos</h1>
                <a href="./novo-produto.html" class="produtos__header__add-product">Adicionar produto</a>
            </div>
            <ul class="produtos__list" id="produtos-list">
            </ul>
        </section>
        <section class="contact">
            <div class="contact__container">
                <div class="contact__info">
                    <section class="contact__info__logo">
                        <img src="../src/assets/img/logo-img.png" alt="">
                        <p class="contact__info__logo__text"><span class="contact__info__logo__text__blue">Alura</span>Geek</p>
                    </section>
                    <section class="contact__info__topics">
                        <a href="#" class="contact__info__topics__link">Quem somos nós</a>
                        <a href="#" class="contact__info__topics__link">Política de privacidade</a>
                        <a href="#" class="contact__info__topics__link">Programa de fidelidade</a>
                        <a href="#" class="contact__info__topics__link">Nossas lojas</a>
                        <a href="#" class="contact__info__topics__link">Quero ser franqueado</a>
                        <a href="#" class="contact__info__topics__link">Anuncie aqui</a>
                    </section>
                </div>
                <div class="contact__fale-conosco">
                    <p class="contact__fale-conosco__title">Fale conosco</p>
                    <form class="contact__fale-conosco__form" action="">
                        <label class="contact__fale-conosco__form__name-label" for="name">Nome</label>
                        <input class="contact__fale-conosco__form__name" type="text" id="name">
                        <label class="contact__fale-conosco__form__message-label"for="message">Escreva sua mensagem</label>
                        <textarea class="contact__fale-conosco__form__message" name="" id="message" cols="30" rows="5"></textarea>
                        <input class="contact__fale-conosco__form__button" type="submit" value="Enviar mensagem">
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <h4 class="footer__text">Desenvolvido por Cassiano Almeida<br>2021</h4>
    </footer>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <section class="novo-produto">
                <div class="novo-produto__add-image">
                    <div class="novo-produto__add-image__drag-box" id="drag-box">
                        <img src="" alt="preview-image" class="novo-produto__add-image__drag-box__preview" id="preview">
                        <img src="../src/assets/img/img-icon.png" class="novo-produto__add-image__drag-box__icon" id="img-icon">
                        <p class="novo-produto__add-image__drag-box__text" id="drag-box-description">Arraste para adicionar uma imagem para o produto</p>
                        <input type="file" id="image-input" class="novo-produto__add-image__drag-box__drag-area" value="arraste para adicionar uma imagem para o produto" accept="image/png, image/jpg" name="file">
                    </div>
                </div>
                <form class="novo-produto__form" action="">
                    <label class="novo-produto__form__label" for="id"></label>
                    <input class="novo-produto__form__field" type="text" id="id" disabled>
                    <label class="novo-produto__form__label" for="nome"></label>
                    <input class="novo-produto__form__field" type="text" id="nome" placeholder="Nome do produto">
                    <label class="novo-produto__form__label" for="preco"></label>
                    <input class="novo-produto__form__field" type="text" id="preco" placeholder="Preço do produto">
                    <label class="novo-produto__form__label" for="description"></label>
                    <label class="novo-produto__form__label" for="categoria">Selecione a categoria:</label>
                    <select class="novo-produto__form__field" name="category" id="categoria">
                        <option class="novo-produto__form__field__option" value="value1">Star Wars</option>
                        <option class="novo-produto__form__field__option" value="value2">Consoles</option>
                        <option class="novo-produto__form__field__option" value="value3">Diversos</option>
                    </select>
                    <textarea class="novo-produto__form__description" name="descricao" id="descricao" placeholder="Descrição do produto" data-description id="description" cols="30" rows="10"></textarea>
                    <button class="novo-produto__form__button" type="submit" data-submit>Atualizar produto</button>
                </form>
            </section>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <section class="login">
                <h1 class="login__title">Iniciar Sessão</h1>
                <form class="login__form" action="">
                    <label for="email"></label>
                    <input class="login__form__field" type="text" id="email" placeholder="Escreva seu email">
                    <label for="senha"></label>
                    <input class="login__form__field" type="text" id="senha" placeholder="Escreva sua senha">
                    <button class="login__form__button" type="reset" id="entrar">Entrar</button>
                </form>
            </section>
        </div>
    </div>

    <script type="module" src="../js/view/produtoListaView.js"></script>
    <script type="module" src="../js/controller/excluiProduto.js"></script>
    <script type="module" src="../js/controller/editaProduto.js"></script>
    <script type="module" src="../js/view/modal-update.js"></script>
    <script type="module" src="../js/controller/searchBarProdutos.js"></script>
    <script type="module" src="../js/controller/searchBarProdutos.js"></script>
    <script src="../js/controller/direcionaHome.js"></script>
</body>
</html>